/wp-content/uploads/
/wp-config.php
/wp-content/fancy_products_orders/
/nbproject/private/
nbproject/project.properties

nbproject/project.xml

/labeleditor/library/config.php
/labeleditor/admin/library/config.php